    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <a href="#download" class="btn btn-default btn-lg" style="background-color: white;">
              <i class="icon-circle-arrow-right icon-large"></i>Sign-Up
              </a>
              <br />
              <br />
                <h2>About {{site.title}}</h2>
                <p>HackMilton extends the rivalry between Milton and Nobles beyond the athletic field. We hope you'll attend this competition!</p>
<br />
                <h3>What's a (programming) hackathon?</h3>
                <p>An event where you code something amazing in a limited amount of time (for HackMilton, 7 hours).<p>
<br />
                <h3>Who can attend</h3>
                <p>Our first hackathon, on Sunday, November 15th, 2015, is limited to Upper School students at Milton and Nobles. In the spring, we'll host a hackathon open to the surrounding community.</p>
<br />
                <h3>What will you provide</h3>
                <ul style="text-align: left;">
                  <li>A location, tables, and chairs</li>
                  <li>Food -- pizza for lunch and chips for snack</li>
                  <li>Internet and Power</li>
                  <li>A theme, which is: Tools for Students (this theme is simply to help you generate ideas -- following it is optional!)</li>
                </ul>
<br />
                <h3>What should I bring</h3>
                <ul style="text-align: left;">
                  <li>An idea: <em>Unlike other hackathons, we'll start coding right away.</em></li>
                  <li>A team of 2-4 classmates</li>
                  <li>A computer and charger, in addition to anything you need to make your idea</li>
                  <li>Your parents, espepcially if they can chaperone, answer questions, and/or judge. <a href="mailto:ravi_rahman16@milton.edu?Subject=My%20Parents%20Can%20Come%20to%20the%20Hackathon">Please let us know if they're planning on coming.</a></li>
                </ul>
<br />
                <h3>What <em>shouldn't</em> I bring</h3>
                <ul style="text-align: left;">
                  <li>Money -- it's free!</li>
                  <li>Existing code, unless if it's publically accessable to other competitors</li>
                </ul>
<br />
                <h3>When and Where</h3>
                <p>
                  <b>Date</b>: Sunday, November 15th, 2015<br />
                  Location: Wigglesworth Hall @ Milton Academy<br />
                  <br />
                  170 Centre Street<br />
                  Milton, MA 02186<br />
                </p>
<br />
                <h3>How will I be judged?</h3>
                <p>Depending on registration #s, we'll either have one or two divisions so you can compete against those at your skill level.<br />
                 The following characteristics will be evaluated:
                 <ul style="text-align: left;">
                   <li>Execution (Does it work?)</li>
                   <li>Concept (Is it useful?)</li>
                   <li>Design (Would I want to use it?)</li>
                 </ul>
               </p>
<br />
<a href="#download" class="btn btn-default btn-lg" style="background-color: white;">
<i class="icon-circle-arrow-right icon-large"></i>Sign-Up
</a>
<br />
<br />
                <h3>Tentative Schedule</h3>
                <style>
                .infotable td, .infotable th {
                  padding: 10px;
                }
                </style>
                <table cellpadding="10" style="text-align: left;" class="infotable">
                  <tr><th>Time</th><th>Description</th></tr>
                  <tr><td>9 am - 10 am</td><td>Setup and Registration</td></tr>
                  <tr><td>10 am - 5 pm</td><td>Hack away!</td></tr>
                  <tr><td>12 pm</td><td>Lunch</td></tr>
                  <tr><td>5 pm - 6 pm</td><td>Judging</td></tr>
                  <tr><td>6 pm - 6:30pm</td><td>Awards</td></tr>
                </table>
            </div>
        </div>
    </section>
